#work #filters {
    padding: 15px 0;
    text-align: center;
}
#work #filters .button {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 0 10px;
    text-transform: uppercase;
}
#work #filters .button:hover, #work #filters .button.active{
    color:#e5342e;
}
.element-item .detail{
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.element-item .detail :before{
    background: rgba(223, 68,60, 0.9);
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    opacity: 0;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    /* z-index: 10; */
}
.element-item .detail :before:hover{
    opacity: 1;
}
.element-item .detail h2{
    color: #FFFFFF;
    font-size: 16px;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 60%;
}
.element-item .detail a{
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-transform: uppercase;
    top: 75%;
}
.element-item .detail a:hover{
    background: #FFFFFF;
    color: #e5342e;
}
.element-item .detail .corner-top :after{
    border-right:3px solid #FFFFFF;
    border-top:3px solid #FFFFFF;
    content: "";
    display: block;
    height: 0px;
    opacity: 0;
    position: absolute;
    right:20px;
    top:20px;
    width: 0px;
}
.element-item .detail .corner-top :before{
    border-left:3px solid #FFFFFF;
    border-top:3px solid #FFFFFF;
    content: "";
    display: block;
    height: 0px;
    left:20px;
    opacity: 0;
    position: absolute;
    top:20px;
    width: 0px;
}
.element-item .detail .corner-bottom :after{
    border-right:3px solid #FFFFFF;
    border-bottom:3px solid #FFFFFF;
    content: "";
    display: block;
    height: 0px;
    opacity: 0;
    position: absolute;
    right:20px;
    bottom:20px;
    width: 0px;
}
.element-item .detail .corner-bottom :before{
    border-left:3px solid #FFFFFF;
    border-bottom:3px solid #FFFFFF;
    content: "";
    display: block;
    height: 0px;
    left:20px;
    opacity: 0;
    position: absolute;
    bottom:20px;
    width: 0px;
}

.element-item .detail:hover .detail h2{
    top: 50%;
    opacity: 1;
}
.element-item .detail:hover .detail a{
    top: 65%;
    opacity: 1;
}
.element-item .detail .corner-top:after:hover, .element-item .detail .corner-top:before:hover, .element-item .detail .corner-bottom:after,:hover .element-item .detail .corner-bottom:before:hover{
    height: 35px;
    opacity: 1;
    width: 35px;
}

.grid{
    position: relative;
    height: 911.511px;
}
/* clear fix */
.grid :after{
    content: "";
    display: block;
    clear: both;
}

/* element-item */
.element-item {
    transition: 0.3s all ease-in-out;
    background: #888;
    color: #262524;
    float: left;
    height: 25%;
    margin: 0;
    /* padding-bottom: 20%; */
    width: 25%;
}
.element-item > *{
    margin:0;
    padding: 0;
}
.element-item .title{
    font-size: 12px;
    font-weight: normal;
    left: 10px;
    letter-spacing: 0;
    position: absolute;
    text-transform: none;
    top: 60px;
}
.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}
.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}
.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}